body{

	font-family: 'Merriweather', serif;
  background: url("streetphoto21.jpg");

  /* Set rules to fill background */
  background-size: 100% 100%;
  background-repeat: no-repeat;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);

  z-index: -1;
}

#intro{
	cursor:default;

	border-radius: 5px;

	position: relative;
	background: rgba(255,255,255,0.8);
	width: 380px;
	height: 140px;

	top:20%;
  left:715px;
}

#about_head {
  font-size: 30px;
  cursor: default;

	border-radius: 10px;

	position: static;
	background: rgba(255,255,255,0.8);
	width: 900px;
	height: 45px;

	top:5%;
  left:25%;
  /*margin: -70px 0 0 -200px;*/
}

#about {
  cursor:default;

	border-radius: 10px;
  font-size: 20px;

	position: relative;
	background: rgba(255,255,255,0.8);
	width: 900px;
	height: 500px;

	top:5%;
  left:25%;
  /*margin: -70px 0 0 -200px;*/
}

#title {
	text-align: center;
	font-size: 30px;
}

#links {
	text-align: center;
	font-size: 20px;
}
